* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    background: linear-gradient(to bottom, #f0f0f0, #ffffff);
    font-family: 'Roboto', sans-serif;
}

#testimonials {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.testimonials-heading {
    letter-spacing: 1px;
    margin: 30px 0;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.testimonials-heading h1 {
    font-size: 2.2rem;
    font-weight: bold;
    background-color: #202020;
    color: #ffffff;
    padding: 10px 20px;
    animation: fadeInUp 1s ease forwards;
    opacity: 0;
}

.testimonials-heading span {
    font-size: 1.3rem;
    color: #252525;
    margin-bottom: 10px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.testimonials-box-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.testimonials-box {
    width: 500px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    padding: 20px;
    margin: 15px;
    cursor: pointer;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.testimonials-box:hover {
    transform: translateY(-10px);
    transition: all ease 0.3s;
    animation: scaleUp 0.3s ease forwards;
}

.profile-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
}

.profile-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.profile {
    display: flex;
    align-items: center;
}

.name-user {
    display: flex;
    flex-direction: column;
}

.name-user strong {
    color: #1d1d1d;
    font-size: 1.1rem;
    letter-spacing: 0.5px;
}

.name-user span {
    color: #1d1d1d;
    font-size: 0.8rem;
}

.reviews {
    color: #f9d71c;
}

.box-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.client-comment p {
    font-size: 1rem;
    color: #4b4b4b;
    font-style: italic;
}

@media (max-width: 768px) {
    .testimonials-box {
        width: 100%;
    }
}

@keyframes scaleUp {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.05);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
