*{
    margin: 0;
    padding: 0;
}
/* body{
    background-image: url(./img/home2.jpg);
 } */
    
 
 .home{
    background-image: url(./img/home4.jpg);
    background-size: cover;
    height: 35rem;
    
} 

.home2{
    background-color: rgba(0, 0, 0, 0.85);
    height: 35rem;
    position: absolute;
    width: 100%;
    top: 0 ;
      
}
.title{
    font-family: 'Nunito', sans-serif;
    font-size: 1.875rem;
    font-weight: 900;
    color: white; 
    width: 37.5rem;
    position: absolute;
    top: 6.25rem;
    left: 4.375rem;


}
.title h1{
    font-size: 3.75rem;
    width: 31.25rem;
}
header .title img{
    width: 34.375rem;
    height: 21.875rem;
    position: absolute;
    left: 34.375rem;
    bottom: 0.063rem;
    top: 1.25rem;
    border-radius: 0.625rem;
    /* box-shadow: 2px 2px 4px black; */
}
/* header img{
    height: ;
    width: ;
} */
.title2{
    margin: 0;
    position: absolute;
    top: 1.563rem;
    left: 2.5rem;
    color: #FEA116;
    font-size: 1.25rem;
    font-family: 'Nunito', sans-serif;
    /* display: inline; */


}
.title2 i{
    /* position: absolute;
    top: 20px;
    right: 2px; */
    margin-right: 0.938rem;
    
}
.title2 .btn {
    position: absolute;
    bottom: 0.938rem;
    left: 62.25rem;
    width: 9.375rem;
    color: white;
    background-color: #FEA116;
    
    /* bottom:10 px;
    margin: 0; */ 
    
}
/* .title2 .btn :hover{

    color: white;
    background-color: #FEA116; */

.title3{
    color: white;
    font-family: 'Heebo', sans-serif;
    width: 34.375rem;
    position: absolute;
    left: 4.375rem;
    top: 21.875rem;
}

.title3 p{
    color: rgba(255, 255, 255, 0.726);
}
.opt{
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-around;
    align-items: flex-start;
    padding-top: 6.25rem;
    /* padding-bottom: 100px; */


    

}
.opt .card{
    border: none;
    /* background-color: #FEA116; */
    transition: 0.5s;
    background-color: rgba(0, 0, 0, 0.025); 
    padding: 1.25rem 0 1.25rem 0;

}
.opt .card:hover{
    background-color: #FEA116;
    color: white;
    
} 
 .opt .card  i{
    color: #FEA116;
    transition: 0.5s;
    
}
.opt .card  i:hover{
    color: white; 
} 
    
    
main{
    /* background-color: rgba(255, 166, 0, 0.034); */
    /* background-color: rgba(0, 0, 0, 0.025); */
   
    /* margin: 0; */
    height: 87.5rem;

}
.imgs img{
    width: 15rem;
    height: 15rem;
    margin-top: 6.25rem;
}
.imgs  .img1{
    position: absolute;
    left: 2.5rem;
    bottom: 0.063rem;
    top: 57.188rem
}
.imgs  .img2{
    position: absolute;
    left: 18.438rem;
    top: 73.125rem;
}
.imgs  .img3{
    position: absolute;
  
    left: 6.25rem;
    top: 73.125rem;
    width:11.25rem;
    height:11.25rem;
    
}
.imgs  .img4{
    position: absolute;

    left: 18.438rem;
    top: 60.938rem;
    width:11.25rem;
    height:11.25rem;
    
}
.about h5{
    font-family: 'Pacifico';
    color: #FEA116;
    font-size: 1.875rem;
}
.about .about2 h1{
    font-family: 'Nunito', sans-serif;
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
}
.about .about2 p{
    font-family: 'Heebo', sans-serif;   
    /* letter-spacing: 0.5px; */
    color: gray;
}
.about{
    width: 34.375rem;
    position: absolute;
    left: 37.5rem;
    top: 64.375rem;
    /* margin-top: 100px; */
    
}
.about .about2 img{
    width: 34.375rem;
}
.about .about2 button{
    background-color: #FEA116;
    color: white;
    margin-top: 3.125rem;
}
/* .photos{
    position: relative;
    
} */
.book img{
    width: 650px;
    height: 400px;
    position: absolute;
    top: 55px;
}
.book{
    position: absolute;
    top: 106.25rem;
}
.book h3{
    font-family: 'Pacifico';
    color: #FEA116;
    /* text-align: center; */
    position: absolute;
    left: 34.375rem;
    bottom: 40.625rem
}
.book .container-xxl{
    position: relative;
    left: 3.125rem
  
    
}
.book .container-xxl .p-5{
    background-image: url(./img/home1.jpg);
    background-size: cover;

}
.book .container-xxl .p-5 h1{
    font-family: 'Nunito', sans-serif;
 
}
.book .container-xxl .p-5 h5{
    font-family: 'Pacifico';
    color: #FEA116;
}
footer{
    position: relative;
    /* top: 28.125rem */
    top: 20.125rem 
}
.container-fluid .row h4{
    font-family: 'Pacifico';
    color: #FEA116;
    
}
footer .container-fluid{
    padding: 0;
    background-color:#0F172B ;
}
footer .container-fluid a{
    text-decoration: none;
    color: white;
}
/* footer .container-fluid .col-lg-3{
    display: fl; 
} */
.chef{
    position: relative;
    top: 87.5rem;
}
a[href="menu.html"]{
    text-decoration: none;
    position: absolute;
    left: 56.25rem;
    bottom: 1.063rem;
    color: white;
}
a[href="menu.html"]:hover{
    color:#FEA116;
}
a[href="restro.html"]{
    text-decoration: none;
    position: absolute;
    left: 50.25rem;
    bottom: 1.063rem;
    color: white;
}
a[href="restro.html"]:hover{
    color:#FEA116;
}
.navbar-brand img {
    max-width: 50%; /* Adjust the max-width as needed */
    height: auto;
}
.container-fluid{
    background-color: black;
}
.navbar-nav {
    width: 100%;
    justify-content: flex-end;
}

.navbar-nav .nav-link {
    padding: 0.5rem 1rem;
}

.navbar-nav .btn {
    margin-left: 10px; /* Adjust the margin as needed */
}
.logo-img {
    width: 40%; /* Adjust the width to make the logo bigger */
    height:1% !important; /* Maintain aspect ratio */
}
.navbar{
    padding:0 !important;
}